@import url("style.css");



main {
    display: flex;
    flex-direction: column;

    h2 {
        margin: 20px;
        font-size: 30px;
        background-color: rgb(245, 245, 245);
        border-radius: 8px;
        padding: 10px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    button {
        margin: 20px;
        padding: 10px 18px;

        border: none;
        border-radius: 8px;
        background-color: black;
        color:white;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }
}

